	@CHARSET "ISO-8859-1";

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
/*       width: 600px; */
      height: 400px;
      margin: auto;
  }
  .carousel-control{
	background-color: rgb(255, 255, 255);
  }
  
  .item img {
  height: 80px;
  }
  
  h1,h2,h3,h4,h5,p,ul li,label,ol{
  	color:white;
  }
  small{
  color:white;
  }
  
  
  
  .panel-body .item p,.panel-body .item h3{
   font-size:18px;
   color:black;
  }
  
  .help-block{
  color:gray;
  }
  
  .graypanel{
  	color : white;background-color: rgb(109,109,109);
  }
  
  
  .fixedPanel{
  	z-index:100;
    /*position: fixed
    top: 71px;
    left: 2px;
    width: 14%*/
    
  }
  
  .fixedPanel .list-group *{
    font-size: 10px
  }
  
  .resultados p{
background-color: gray;
    border-radius: 5px;
    padding: 5px;	
}

.numberResultGroup{
	padding: 20px 0;
	text-align: center;
}

.numberResultGroup span{
	    width: 50px;
    height: 100px;
    font-size: 80px;
    background-color: white;
    
}

.dateInfoGroup{
	text-align: center;
    margin: 20px;
}

.buttonGenerarDiv{
	text-align: center;
}
.buttonGenerarDiv{
	height: 40px;
    width: 210px;

}

.numberGenerator{
	-webkit-transition: all 4s;
	padding: 5px;
    margin: 15px;
    background-color: #a90000;
    border-radius: 25px;
}

.numberResult{
	display: none;
    padding: 16px;
    background-color: #28ff28;
    color: black;
    margin: 14px;
    border-radius: 15px;
	
}

.testimonio img{
	width: 80%;
}

.testimonio div.col-md-4,.testimonio div.col-md-3{
	text-align: center;
}