@CHARSET "ISO-8859-1";

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
/*       width: 600px; */
      height: 400px;
      margin: auto;
  }
  .carousel-control{
	background-color: rgb(255, 255, 255);
  }
  
  .item img {
  height: 80px;
  }
  
  h1,h2,h3,h4,h5,p,ul li,label,ol{
  	color:white;
  }
  small{
  color:white;
  }
  
  
  
  .panel-body .item p,.panel-body .item h3{
   font-size:18px;
   color:black;
  }
  
  .help-block{
  color:gray;
  }
  
  .graypanel{
  	color : white;background-color: rgb(109,109,109);
  }
  
  
  .fixedPanel{
  	z-index:100;
    /*position: fixed
    top: 71px;
    left: 2px;
    width: 14%*/
    
  }
  
  .fixedPanel .list-group *{
    font-size: 10px
  }