<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MilagroAmorSalvacion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenericServlet</display-name>
    <servlet-name>GenericServlet</servlet-name>
    <servlet-class>com.daniel.gutierrez.servlet.GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServlet</servlet-name>
    <url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitiServlet</display-name>
    <servlet-name>InitiServlet</servlet-name>
    <servlet-class>com.daniel.gutierrez.servlet.InitiServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitiServlet</servlet-name>
    <url-pattern>/InitiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRedirect</display-name>
    <servlet-name>ServletRedirect</servlet-name>
    <servlet-class>com.daniel.gutierrez.servlet.ServletRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirect</servlet-name>
    <url-pattern>/redirect/*</url-pattern>
  </servlet-mapping>
</web-app>